<table class="table table-hover">
  <thead>
    <h2>メッセージ一覧</h2>
  </thead>
  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <% if conversation.target_user(current_user).present? %>
          <td><%= link_to "#{conversation.target_user(current_user).name}さんとの会話", conversation_messages_path(conversation)%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
