body {
  background-color: #FAFAFA;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border:none;
}

.navbar {
  border-radius: 0;
}

.navbar-default {
  background-image:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%);
  border:none;

  .navbar-nav>li>a {
    color: #FFF;
  }

  .navbar-brand {
    color: #fff;
  }

  .navbar-text {
    color: #fff;
  }
}

.icon {
    width: 50px;
    height: 50px;
    padding: 5px 5px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

@media (min-width: 768px){
  .navbar-right {
    float: right!important;
    margin-right: 0;
  }
}

table{
  // margin:0 auto;
  margin-bottom:10px;
  th{
    text-align: right;
  }
}

.index-post{
  background-color: #FFF;
  border:1px solid #E6E6E6;
  margin-bottom:15px;
  border-radius:4px;
}

.show_content{
  font-size: 2rem;
}

.btn{
  margin-top:10px;
}
